src/main/mule/dw-xml.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="dw-introFlow2" doc:id="3e2e36ce-aa22-4c55-9fad-e7d9b558bcf1" >
		<http:listener doc:name="Listener" doc:id="6a9b3c0e-f972-4bd8-ac8e-c7aa6b4fc693" config-ref="HTTP_Listener_config" path="/payload-json"/>
		<ee:transform doc:name="Transform Message" doc:id="f3932cbf-9e37-4d3a-8bcb-e6e7adf28845" >
			<ee:message >
				<ee:set-payload resource="productxml.dwl" />
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="productNameVar.dwl" variableName="productNameVar" />
			</ee:variables>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="61f5059a-7fb3-44d4-b84a-2cccf846e9a4" />
		<logger level="INFO" doc:name="Logger" doc:id="e586aa34-dba4-40af-b165-0235da2d0116" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="36701760-27cb-4dde-8315-116f743c4372" message='#["ProductName " ++ vars.productNameVar]'/>
	</flow>
	<flow name="dw-xmlFlow" doc:id="a37e2597-7c2d-4c76-a72b-3c92a45f0285" >
		<ee:transform doc:name="Transform Message" doc:id="536e4458-1832-4e44-a31a-04a570a82324" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

var upr = upper
---
{
	"UpperCase": upr('krish'),
	"TimeZone": now() as TimeZone,
	"Time": now() as Time,
	"Date": now() as Date,
	"CData": "KK" as CData
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
