src/main/mule/dw-xml.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="dw-introFlow2" doc:id="3e2e36ce-aa22-4c55-9fad-e7d9b558bcf1" >
		<http:listener doc:name="Listener" doc:id="6a9b3c0e-f972-4bd8-ac8e-c7aa6b4fc693" config-ref="HTTP_Listener_config" path="/payload-json"/>
		<ee:transform doc:name="Transform Message" doc:id="f3932cbf-9e37-4d3a-8bcb-e6e7adf28845" >
			<ee:message >
				<ee:set-payload resource="productxml.dwl" />
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="productNameVar.dwl" variableName="productNameVar" />
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="25d06180-1cac-480e-91bc-0e06f1e74798" message="#[vars.productNameVar]"/>
	</flow>
</mule>
