src/main/mule/file-endpoint.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="file-endpointFlow" doc:id="1d2498cd-7bbb-4488-b023-e5dcd42cfafd" >
		<file:listener doc:name="On New or Updated File" doc:id="f3fabf01-1cad-4cdc-847a-9f1944131fea" config-ref="File_Config" directory="MuleInput" autoDelete="true" moveToDirectory="processedfiles" renameTo='#[(attributes.fileName splitBy  ".")[0] ++ (attributes.lastModifiedTime as String replace /[*:.]/ with("_") ) ++ ".csv"]'>
			<scheduling-strategy >
				<fixed-frequency frequency="5" startDelay="5" timeUnit="SECONDS" />
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="e1d85678-8c90-440e-aa34-d3367e57b755" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d9ad45c2-ed5a-4620-b812-2e136bb7537a" message="#[payload]"/>
	</flow>
	<flow name="file-endpointFlow1" doc:id="5ad48990-a7ff-46da-8bef-4b6f44c3b187" >
		<http:listener doc:name="FileWriteListner" doc:id="bf422fc4-7b8d-45c3-a273-b500c27a209b" config-ref="HTTP_Listener_config" path="/write-file"/>
		<ee:transform doc:name="Transform Message" doc:id="69d6e3c3-8e6e-433a-a3b2-a9f50b68e7ba" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header=false
---
[{
	ProductId: attributes.queryParams.Id as String,
	ProductName: attributes.queryParams.Name as String,
	ProductPrice: attributes.queryParams.Price as Number
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="WrtieCSVFile" doc:id="7f94fc95-9e57-45ad-a93a-63017255bbc8" config-ref="File_Config" path="CREATE-FILE/products.csv" mode="APPEND"/>
	</flow>
</mule>
