src/main/mule/munit-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="munit-testFlow" doc:id="c7d42796-af91-4d3e-81a9-e3bd91e2a542" >
		<http:listener doc:name="Listener" doc:id="07f1f60b-8707-4466-9960-d322183558aa" config-ref="HTTP_Listener_config" path="munit"/>
		<db:select doc:name="SelectEmployees" doc:id="ae9a57af-e87e-4841-8130-ceeb844c8f41" config-ref="MysqlDB_Config">
			<db:sql ><![CDATA[SELECT * FROM employees Where employeeNumber=:empid]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
 empid: attributes.queryParams.id
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="a7ded921-db0e-45bc-93b6-76ebebc344e9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="019e55af-52b2-4742-8c5a-57e97ede8b8a" message="#[payload]"/>
	</flow>
</mule>
