src/main/mule/try-fail.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="try-failFlow" doc:id="7fe83410-8c10-4c81-88fa-91d755b5e1b5" >
		<http:listener doc:name="TryFailListner" doc:id="913d327a-8d2c-4a05-adde-55ed1bb2e11e" config-ref="HTTP_Listener_config" path="/try-fail"/>
		<ee:transform doc:name="Transform Message" doc:id="02125ace-ae2a-462d-852e-3716a6bb6f5a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import try from dw::Runtime
output application/dw

fun getAllstatesFromFile(fileName:String)=
	do {
		var tryResult = try(()-> readUrl("classpath://"++ fileName, "aaplication/xml"))
		--- 
		tryResult match {
			case myoutput if(myoutput.success ~= false) -> myoutput.error
			else -> $.result
		}	
	}
	
fun getStateDetailsByName(name)=
	do{
		var statesXml = getAllstatesFromFile("states.xml")
		---
		statesXml.states.*state[?($.@name ~= name)].@[0]
	}
---
getAllstatesFromFile("examples/states.xml")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="898fcbba-6329-4de1-b526-afe3ff11b000" message='#[%dw 2.0&#10;import try from dw::Runtime&#10;---&#10;try(()-&gt; readUrl("classpath://examples/states.xml", "aaplication/xml"))]'/>
	</flow>
	<flow name="try-failFlow1" doc:id="f15d4398-4020-4f68-bae8-a1d9fc505a97" >
		<http:listener doc:name="Listener" doc:id="1342279d-86fc-4a3b-b8ac-138139fb3be0" config-ref="HTTP_Listener_config" path="/file"/>
		<ee:transform doc:name="Transform Message" doc:id="ecf4053b-713e-49e4-af58-8488563ce7e4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::Runtime
output application/dw

var fileNameFromQ = attributes.queryParams.file as String  default "states.xml"

fun getAllstatesFromFile(fileName:String)=
	do {
		var tryResult = try(()-> readUrl("classpath://examples/"++ fileName, "aaplication/xml"))
		--- 
		tryResult match {
			case myoutput if(myoutput.success ~= false) -> fail("There are no such file "+ fileName)
			else -> $.result
		}	
	}
	
fun getStateDetailsByName(name)=
	do{
		var statesXml = getAllstatesFromFile("states.xml")
		---
		statesXml.states.*state[?($.@name ~= name)].@[0]
	}
---
getAllstatesFromFile(fileNameFromQ)


]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f73f17a2-8886-4175-a9db-fed2f58ee03d" message='#["file endpoint has been called " ++ (attributes.queryParams.file as String  default "states.xml")]'/>
	</flow>
</mule>
